body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body::-webkit-scrollbar {
    width: 0.75rem;
}

body::-webkit-scrollbar-track {
    background: #060606;
}

body::-webkit-scrollbar-thumb {
    background: #300985;
}